@import "./../../styles/Variable.scss";

.LabelledInput {
    margin-bottom: 0.5em;
    background-color: inherit;
    &__Label {
        background-color: inherit;
        font-weight: 500;
        margin-bottom: 0.2em;
        font-size: 1.5em;
    }
    
    &__Error{
        margin-top:0.2em;
        font-size: 0.65em;
        color: red;
        font-weight: 400;
    }
    
    &__Input {
        background-color: aliceblue;
        width: auto;
        padding: 0.5em;
        border: 1px solid $border-color;
        border-radius: 0.2em;
        font-size: 0.9em;
        font-weight: 300;
        &::placeholder {
            font-size: 0.8em;
            font-weight: 300;
        }
        &:focus {
            outline: none;
            border: 1px solid $primary-color;
        }
    }
}